.form {
  margin: 0 auto;
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.form__input {
  display: block;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  border: 1px solid #838383;
  border-radius: 4px;
  min-width: 380px;
  min-height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  min-width: 380px;
  min-height: 60px;
  background: #2f80ed;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__input::placeholder {
  color: #838383;
}

.form__checkbox {
  border-radius: 2px;
  min-width: 20px;
  max-height: 20px;
  vertical-align: middle;
  margin-right: 12px;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.4s ease-out;
}
